[submodule "docs/themes/hugo-theme-relearn"]
	path = docs/themes/hugo-theme-relearn
	url = https://github.com/McShelby/hugo-theme-relearn.git

[submodule "docs/themes/plausible-hugo"]
	path = docs/themes/plausible-hugo
	url = https://github.com/divinerites/plausible-hugo.git
